<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://www.paypal.com/sdk/js?client-id=AQb-ZDjmrh2zp7J2YgP8I_ymj4xRMzWMux5bm3zfG9edkKxC70-4bYwZAQQFMadae7WqKxJ2_lKzk0Vp&currency=USD"></script>
</head>
<body>
    <div id="paypal-button-container"></div>

    <script>
        paypal.Buttons({
            style:{
                shape: 'pill',
                label: 'pay',
            },
            createOrder: (data, actions) => {
                return actions.order.create({
                    purchase_units: [{
                    amount: {
                      value: '100' // Can also reference a variable or function
                    }
                    }]
                });
                },

                onApprove: (data, actions) => {
                    return actions.order.capture().then(function(orderData) {
                      // Successful capture! For dev/demo purposes:
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                      // When ready to go live, remove the alert and show a success message within this page. For example:
                        window.location.href="/resources/views/pagoComp.html"
                    });
                },

                onCancel:(data)=>{
                    alert("El pago ha sido cancelado")
                }
        }).render('#paypal-button-container');
    </script>
</body>
</html>